<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/_LayoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>TourNest - Detail tour</title>
</head>
<body>
<div>
    <div layout:fragment="content" class="container">
        <div class="row">
            <h1 th:text="${tour.tourName}">Tên tour</h1>
            <div class="col-lg-7 col-md-12 col-sm-12 left">
                <div class="image">
                    <img class="img-fluid" src="/assets/images/detail-tour/1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 right">
                <div class="row gy-4">
                    <div class="col-md-12 col-sm-12 small">
                        <div class="row">
                            <div class="col-6">
                                <div class="image">
                                    <img class="img-fluid" src="/assets/images/detail-tour/2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="image">
                                    <img class="img-fluid" src="/assets/images/detail-tour/3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 big">
                        <div class="image">
                            <img class="img-fluid" src="/assets/images/detail-tour/4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row mb-2">
                <b th:text=" 'Từ ' + ${tour.departure.departureName} + ' đến ' + ${tour.destination.destinationName}"></b>
            </div>
            <div class="row mb-2">
                <h3 style="color: red;"
                    th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(tour.dateStart, tour.dateEnd) + 1} + ' ngày'">
                    thời gian
                    về trừ thời gian đi</h3>
            </div>
            <div class="row mb-2">
                <p th:text="${tour.description}">Miêu tả</p>
            </div>
            <div class="row">
                <div class="col-lg-4 pull-right">
                    <a th:href="@{/tour/view-list-tours}" class="btn btn-primary">Trở lại</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>