<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/_LayoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>TourNest - List Tour</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h1>Tour List</h1>
    <div class="row">
        <div class="col-md-4" th:each="item : ${listTours}">
            <div class="card mb-3">
                <img src="/assets/images/detail-tour/1.jpg" class="card-img-top" alt="Tour 1">
                <div class="card-body">
                    <h1 class="card-title" th:text="${item.tourName}">Tên tour</h1>
                    <p class="card-text">Điểm đến: Địa điểm 1</p>
                    <p class="card-text">Điểm đi: Địa điểm 2</p>
                    <div class="row card-text">
                        <b th:text=" 'từ ' + ${item.departure.departureName} + ' đến ' + ${item.destination.destinationName}"></b>
                    </div>
                    <p class="card-text">Thời gian đi: 10:00 AM</p>
                    <p class="card-text">Thời gian về: 5:00 PM</p>
                    <h3 class="card-text"
                        th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(item.dateStart, item.dateEnd) + 1} + ' ngày'">
                        thời gian
                        về trừ thời gian đi</h3>
                    <p class="card-text" th:text="${item.description}">miêu tả</p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/admin/view-detail-tour/{id} (id = ${item.id})}" class="btn btn-outline-dark">
                        <i class="fa-sharp fa-solid fa-info"></i>
                    </a>
                    <a th:href="@{/admin/update-tour/{id} (id = ${item.id})}" class="btn btn-primary">
                        <i class="fa-sharp fa-solid fa-edit"></i>
                    </a>
                    <a th:href="@{/admin/delete-tour/{id} (id = ${item.id})}" class="btn btn-outline-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/page/{pageNo}(pageNo=1)}">‹‹</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/page/{pageNo}(pageNo=${currentPage - 1})}">‹</a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${currentPage == i} ? 'active'">
                    <a class="page-link" th:href="@{/admin/page/{pageNo}(pageNo=${i})}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/page/{pageNo}(pageNo=${currentPage + 1})}">›</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/page/{pageNo}(pageNo=${totalPages})}">››</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>