<!-- admin.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
<h1>Admin Page</h1>

<form th:object="${tour}" th:action="@{/admin/save}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Tour Name:</label>
        <input type="text" th:field="*{tourName}"/>
    </div>
    <div>
        <label>Price:</label>
        <input type="number" step="0.01" th:field="*{price}"/>
    </div>
    <div>
        <label>Date Start:</label>
        <input type="date" th:field="*{dateStart}" th:value="${#temporals.format(tour.dateStart, 'yyyy-MM-dd')}"/>
    </div>
    <div>
        <label>Date End:</label>
        <input type="date" th:field="*{dateEnd}" th:value="${#temporals.format(tour.dateEnd, 'yyyy-MM-dd')}"/>
    </div>
    <div>
        <label>Status:</label>
        <input type="number" th:field="*{status}"/>
    </div>
    <div>
        <label>Description:</label>
        <textarea th:field="*{description}" rows="5" cols="50"></textarea>
    </div>
    <div>
        <label>Departure:</label>
        <input type="text" th:value="${tour.departure.getDepartureName()}"/>
        <select class="form-control" id="destination" name="destination.id">
            <option th:each="departure : ${listDeparture}"
                    th:value="${departure.id}"
                    th:text="${departure.departureName}"
                    th:selected="${tour.departure.id == departure.id}">
            </option>
        </select>
    </div>
    <div>
        <label>Destination:</label>
        <input type="text" th:value="${tour.destination.getDestinationName()}"/>
        <select th:field="*{destination.id}">
            <option th:each="destination : ${listDestination}"
                    th:value="${destination.id}"
                    th:text="${destination.destinationName}"
                    th:selected="${tour.destination.id == destination.id}">
            </option>
        </select>
    </div>
    <div>
        <label>Discount:</label>
        <!--        <input type="text" th:value="${tour.discount.getDiscountName()}"/>-->
    </div>
    <div>
        <label>Tour Type:</label>
        <input type="text" th:value="${tour.tourType.getTourTypeName()}"/>
    </div>
    <button type="submit">Update Tour</button>
</form>
</body>
</html>
