<!DOCTYPE html>

<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_LayoutUser}">

<head>
    <meta charset="UTF-8">

    <title>TourNest - List tour</title>

    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
            integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
    <script src="/assets/js/Script.js"></script>
</head>

<body>
<div layout:fragment="content">
    <h1>Tour List</h1>
    <div class="row">
        <div class="col-md-4" th:each="item : ${listTours}">
            <div class="card mb-3">
                <img th:src="${item.image}" class="card-img-top" alt="Tour 1">
                <div class="card-body">
                    <h1 class="card-title" th:text="${item.tourName}">Tên tour</h1>
                    <div class="row card-text">
                        <b th:text=" 'từ ' + ${item.departure.departureName} + ' đến ' + ${item.destination.destinationName}"></b>
                    </div>
                    <h3 class="card-text"
                        th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(item.dateStart, item.dateEnd) + 1} + ' ngày'"></h3>
                    <div>
                        <p class="card-text" th:if="${#strings.length(item.description) > 40}"
                           th:text="${#strings.substring(item.description, 0, 40) + '...'}"
                           style="margin-bottom:16px"></p>
                        <p th:if="${#strings.length(item.description) <= 40}" th:text="${item.description}"></p>
                    </div>
                </div>

                <div class="card-footer">
                    <!--                    <span sec:authorize="hasAuthority('USER')">-->
                    <form th:action="@{/cart/add/{id}(id=${item.id})}" method="post">
                        <button type="submit" class="btn btn-primary">Book now</button>
                    </form>
                    <!--                </span>-->

                    <a th:href="@{/tour/view-detail-tour/{id} (id = ${item.id})}" class="btn btn-outline-dark">Xem chi
                        tiết tour</a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/tour/view-list-tours/page/{pageNo}(pageNo=1)}">‹‹</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/tour/view-list-tours/page/{pageNo}(pageNo=${currentPage - 1})}">‹</a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${currentPage == i} ? 'active'">
                    <a class="page-link" th:href="@{/tour/view-list-tours/page/{pageNo}(pageNo=${i})}"
                       th:text="${i}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/tour/view-list-tours/page/{pageNo}(pageNo=${currentPage + 1})}">›</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/tour/view-list-tours/page/{pageNo}(pageNo=${totalPages})}">››</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>

</html>