<!DOCTYPE html>

<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_LayoutUser}">

<head>
    <title>TourNest - Đổi mật khẩu</title>
</head>

<body>
<div layout:fragment="content">
    <h2 class="mt-2">Đổi mật khẩu</h2>
    <form id="changePasswordForm" th:action="@{/change-password}" method="post">
        <div class="form-row">
            <div class="col-md-3">
                <label for="newPassword">Mật khẩu mới:</label>
            </div>
            <div class="col-md-3">
                <input type="password" id="newPassword" name="password" class="form-control">
                <div id="newPasswordError" class="error-message"></div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
            </div>
            <div class="col-md-3">
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
                <div id="confirmNewPasswordError" class="error-message"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Đổi mật khẩu</button>
    </form>
</div>
</body>

</html>
