<!DOCTYPE html>

<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_LayoutUser}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>TourNest - Detail Tour</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row mt-2">
        <div class="col-lg-7 col-md-12 col-sm-12 left">
            <div class="image">
                <img class="img-fluid" th:src="${tour.image}" alt="Failed to load image">
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 right">
            <div class="row gy-4">
                <div class="col-md-12 col-sm-12 small">
                    <div class="row">
                        <div class="col-6">
                            <div class="image">
                                <img class="img-fluid" th:src="${tour.image}" alt="Failed to load image">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="image">
                                <img class="img-fluid" th:src="${tour.image}" alt="Failed to load image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 big">
                    <div class="image">
                        <img class="img-fluid" th:src="${tour.image}" alt="Failed to load image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h1 class="col-lg-8" th:text="${tour.tourName}">Tên tour</h1>
        <div class="col-lg-4">
            <div class="row mt-2">
                <div class="col-lg-6">
                    <h3 class="bold text-danger" th:text="${tour.price} + ' VNĐ'">Giá</h3>
                </div>
                <div class="col-lg-6">
                    <div sec:authorize="hasAuthority('USER')">
                        <form th:action="@{/cart/add/{id}(id=${tour.id})}" method="post">
                            <button type="submit" class="btn btn-outline-danger">Book now</button>
                        </form>
                    </div>
                    <div th:if="${not #authorization.expression('isAuthenticated()')}">
                        <a class="btn btn-primary" th:href="@{/login}">Book tour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row mb-3">
            <span>Ngày khởi hành: <b class="text-primary"
                                     th:text="${#temporals.format(tour.dateStart, 'dd/MM/yyyy')}"></b></span>
        </div>
        <div class="row mb-3">
            <span>Xuất phát từ: <b class="text-primary" th:text="${tour.departure.departureName}"></b></span>
        </div>
        <div class="row mb-2">
            <span class="d-inline">Số ngày ở lại:
                <b class="text-primary" th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(tour.dateStart, tour.dateEnd) + 1} + ' ngày ' +
                               ${T(java.time.temporal.ChronoUnit).DAYS.between(tour.dateStart, tour.dateEnd)} + ' đêm'">
                </b>
            </span>
        </div>
    </div>
    <div class="row mb-2">
        <h3 class="text-center mb-4">Lịch trình</h3>
        <p th:text="${tour.description}"></p>
    </div>
</div>

</body>

</html>