.navbar-custom {
    background-color: rgba(77, 78, 84, 1);
}

.navbar-custom .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .navbar-brand .logo-nest,
.navbar-custom .navbar-nav .nav-link:hover {
    color: #00d8ff;
}

.navbar-custom .navbar-toggler {
    color: #00d8ff;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}